/*  your css code here. If applicable */
/* div{
	height:500px;
	width:500px;
	margin:100px
	border : 2px solid black;
	display:flex;
	background-color: #ADD8E6;
	justify-content:center;
	align-items:center
	
	
} */
 div{
	height:500px;
	width:500px;
	margin:100px;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:lightblue;
}